<p id="notice"><%= notice %></p>
<div>
    <% if @search.search_albums.empty?%>
    <p> No Record Found </p>

    <% else %>

    <% @search.search_albums.each do |sea| %>
    <p>
        <strong>User:</strong>
        <%= @sea.user %>
    </p>

    <p>
        <strong>Title:</strong>
        <%= @sea.title %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= @sea.description %>
    </p>

    <p>
        <strong>Tag:</strong>
        <%= @sea.tag %>
    </p>
    <% end %>
    <% end %>
</div>
<%= link_to 'Back', new_searches_path %>